.build-div {
    width: 600px;
    padding: 25px 50px 25px 50px;
    margin: 75px auto;

    display: flex;
    flex-direction: column;

}

.step-div {
    width: 50px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.step-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.blue-icon {
    background-color: #478BFF;
}

.gray-icon {
    background-color: #D8D8DB;
}

.step-title {
    margin: 20px 0 50px 0;
}

.question-span {
    font-weight: bold;
    margin: 0 0 10px 0;
}

.answer-input {
    height: 40px;
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    border-color: #D8D8DB;
    margin: 10px 0 20px 0;
}

.answer-input::placeholder {
    color: #D8d8d8;
}

.answer-input:focus:invalid {
    outline: none;
    border-color: brown;
}

.answer-input:focus:valid {
    outline: none;
}


.workspace-name-input {
    width: 600px;
}

.url-sub-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.workspace-url-input {
    width: 400px;
}

.workspace-url-input:focus {
    outline: none;
    border-color: brown;
}

.fixed-url-span {
}

.validation-error-message {
    display: block;
    margin: 0 0 10px 0;
    color: brown;
    font-size: 12.5px;
}

.default-direction-span {
    margin: 20px 0 20px 0;
}

.btn-sub-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    margin: 20px 0 0 0
}

.cancel-btn {
    width: 125px;
    height: 40px;
    margin: 0 5px 0 0;
    background-color: white;
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    border-color: #D8D8DB;
    color: #8b8e95;
}

.cancel-btn:hover {
    border-color: #8b8e95;
    cursor: pointer;
}

.next-btn {
    width: 125px;
    height: 40px;
    margin: 0 0 0 5px;
    border-width: 0px;
    border-radius: 5px;
    color: white;

    background-color: #478BFF;
    border-color: #478BFF;

}

.next-btn:hover {
    background-color: #1E68F6;
    border-color: #1E68F6;
    cursor: pointer;
}

.next-btn:disabled {
    background-color: #D8D8DB;
    border-color: #D8D8DB;
}

.invitation-icon {
    display: inline;
}

.invitation-title {
    display: inline;
    margin: 0px 0px 0px 5px;
}

.invitation-direction {
    display: block;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}

.email-invitation-input {
    width: 600px;
    height: 40px;
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    border-color: #D8D8DB;
}

.email-invitation-input:focus {
    outline: none;
    border-color: #8b8e95;
}

.send-invitation-btn {
    width: 125px;
    height: 30px;
    float: right;
    margin: 20px 0px 20px 0px;

    background-color: #D8D8DB;
    border-width: 0px;
    border-radius: 5px;
    border-color: #D8D8DB;
    color: white;
}

.link-invitation-div {
    margin: 0 0 50px 0;
}

.link-creation-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.link-invitation-direction {
    font-size: 13px;
    margin: 20px 10px 20px 10px;
}

.link-invitation-input {
    display: block;
}

.new-invitation-link {
    width: 470px;
    height: 40px;
    padding: 0 10px 0 10px;

    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    border-color: #D8D8DB;

    font-size: 14px;
    text-align: left;
    line-height: 40px;

    display: inline-block;

}

.link-copy-button {
    width: 100px;
    height: 40px;

    margin: 0 0 0 5px;
    border-width: 0px;
    border-radius: 5px;
    color: white;

    background-color: #478BFF;
    border-color: #478BFF;

    display: inline-block;
}

.link-copy-button:hover {
    background-color: #1E68F6;
    border-color: #1E68F6;
    cursor: pointer;
}

.invite-later-span {
    margin: 0px auto;
    text-decoration: underline;
}

.invite-later-span:hover {
    color: #478BFF;
    cursor: pointer;
}

.copy-confirmed-div {
    width: 400px;
    height: 40px;
    padding: 0 0 0 20px;
    margin: 25px auto;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: left;
    line-height: 40px;
}

.copy-confirmed-div:disabled {
    visibility: hidden
}