body{
    margin:0;
    font-family: 'Arial', sans-serif;
}
/*=====================entire_webpage=======================*/
.entire_webpage
{
    display:flex;
    flex-direction: column;
    width : 100%;
    height: 100%;
    overflow: hidden;
}

/* ======================reusable components=================*/
.round_square_btn_area{
    display:flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex:none;
    width : 3rem;
    height : 3rem;
}
.home_btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8B8E95;
    width : 2rem;
    height : 2rem;
    border-radius:20%;
}

.home_btn:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.round_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8B8E95;
    width : 2rem;
    height : 2rem;
    border-radius:100%;
}



.round_btn:hover
{
    background-color: #f1f1f1;
    cursor: pointer;
}

.big_round_square_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: #D8D8DB;
    border-radius:20%;
    width : 2rem;
    height : 2rem;
}

.big_round_square_btn:hover{
    cursor:pointer;
    background-color: #8B8E95;
}


.toggle_btn_area
{
    display: flex;
    width : 1rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}
.toggle_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width : 1rem;
    height : 1rem;
}

.toggle_btn:hover{
    cursor:pointer;
}
    /*========================nav_bar===========================*/
.nav_bar{
    display : flex;
    flex-direction : row;
    border-bottom: 1px solid #E4E4E9;
    background-color :white;
    height: 3rem;
    margin:0;
}

#Home
{
    border-right : 1px solid #E4E4E9;
    border-width: 0.5px;
}

.workspace_overall
{
    display :flex;
    flex-direction : row;

}

#Workspace_icon
{
    background-color:blue;
    color:white;
    font-weight: bolder;
}


.workspace_name_area
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex:none;
    width:auto;
}
.workspace_name_area:hover{
    cursor:pointer;
    text-decoration:underline;
}
.workspace_name
{
    width : auto;
    margin-top:1rem;
    height : 2rem;
    text-align:center;
    font-weight: bold;
}
.top_toolbar{
    margin-left: auto;
    display:flex;
    flex-direction:row;
}

.top_toolbar  > .round_square_btn_area
{
    width: 2.8rem;
}

#User{
    background-color: blue;
    color: white;
    font-weight: bolder;
}

.search_area{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_bar_icon
{

    margin:0.5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    color:#8B8E95;

}
.search_area input[type="text"]
{
    height: 1.5rem;
    border : none;
    background-color: #F8F8F8;
    color:black;
}

.search_area input[type="text"]::placeholder
{
    color :#CED9EB;
}
.search_area input[type="text"]:focus
{
    outline:none;
}
    /*======================container===============================*/
.container{
    display: flex;
    flex-direction : row;
    height: 100vh;
}
        /*========================left_bar=========================*/
.left_bar{
    display: flex;
    flex-direction: column;
    border-right : 1px solid #E4E4E9;
}
.left_toolbar{
    display:flex;
    flex-direction:column;
     
    margin-top:1rem;
}

.left_toolbar > .round_square_btn_area{
    margin-top: 1rem;
    margin-bottom: 0rem;
}

        /*======================explorer_area=========================*/
.explorer_toggle_area{
    display:flex;
    flex-direction: row;
}

.explorer_area_show{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #E4E4E9;
    width : 13rem;

}

.explorer_area_hide
{
    display:none;
    opacity:0;
    width:0rem;

}

.explorer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.explorer_channels_area{
    display:flex;
    align-items: center;
    flex-direction : row;
    min-width:12rem;
    height: 2rem;
    margin : 0.5rem;
    margin-top:1.5rem;
    margin-bottom:0.5rem;
    border-radius:5px;
}
.explorer_channels_area:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.explorer_channels_icon
{
    margin-left:0.5rem;
    color :#488AFC
}
.explorer_channels
{
    margin-left : 0.5rem;
    color: #488AFC
}

.explorer_text_btn_area
{
    min-width:11rem;
    height:2rem;
    margin-top:0.5rem;
    margin-left: 0.5rem;
    margin-bottom:0.5rem;
    display: flex;
    flex-direction: row;

     
}   
.explorer_text_btn{
    margin-top:0.5rem;
    min-width:11rem;
    height:2rem;
}


.explorer_text_btn_area:hover{
    cursor: pointer;
    text-decoration: underline;
}


.explorer_add_btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 1rem;
    height: 1rem;
    background-color: #F1F1F1;
    color : #8B8E95;
    margin-right: 0.5rem;
    margin-top:0.5rem;
    border-radius:100%;
}

.explorer_add_btn:hover{
    background-color:#8B8E95;
    color : black;
    cursor:pointer;
}
.explorer_lists{
    width:12rem;
    height : 2rem;  
    border-radius: 5px;
    display:flex;
    flex-direction :row;
    align-items: center;
}
.explorer_list_star
{
    color: white;
}

.explorer_list_ring
{
    color: white;
    margin-right: 0.5rem;
}
.list_text_btn{
    color : #8B8E95;
    width: 12rem;
    min-height:1rem;
    border-radius: 5px;
    margin-left : 0.2rem;
    margin-right : 0.2rem;
}
.explorer_lists:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.explorer_shrink_btn
{
    width : auto;
    height:auto;
    display:flex;
    align-items: center;
}

.explorer_shrink_btn:hover{
    cursor: pointer;
}
        /*=======================main_area=========================*/
.main_area{
    flex:1;
    display : flex;
    flex-direction : column;
    background-color: #f8f8f8;
}
        
.workspace_info{
    z-index: 1;
    background-color: white;
    display:flex;
    flex-direction:row;
    border-bottom: 1px solid #E4E4E9;
    height: 4rem;
    
    justify-content: space-between;
    
}

.infos{
    flex:none;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}
#star
{
    width:2rem;
    color: #D8D8DB;
}
#star:hover{
    color:#8B8E95;
}

.channel_name_area
{
    display:flex;
    align-items: center;
    height: 2rem;
}
.channel_name_area:hover
{
    text-decoration: underline;
    cursor: pointer; 
}
.channel_name
{
    font-weight: bold;
    margin-top : 0.75rem;
    text-align: center;
    height :2rem;
}

.chatNidea{
    display:flex;
    flex-direction:row;
    width : 8rem;
    justify-content:space-around;

}
.btn_with_belowtext_area{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
    width : 4rem;
}

.btn_with_belowtext_area:hover {
    cursor: pointer;
}

#idea:hover
{
    cursor: pointer;
    color:#8B8E95;
}

#idea_closed
{
    color:#B9BABE;
}

#idea_opened
{
    color :#488AFC;
}

#chat_opened
{
    color :#488AFC;
}

#chat_closed
{
    color:#8B8E95;
}


.btn_with_belowtext_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:none;
    
    margin-top : 0.25rem;
    height: 2rem;
    width: 2rem;
}

.btn_with_belowtext_text
{
    flex:none;
    text-align: center;
    margin-bottom : 0.25rem;

    width : 2rem;
    
}
.chatting_infos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.btn_with_sidetext_area{
    border-radius: 10%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color : #8B8E95;
    
}

.btn_with_sidetext_area:hover{
    cursor: pointer;
    background-color:#D8D8DB;
}
.btn_with_sidetext_btn
{
    flex:none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height:1.5rem;
    width: 1.5rem;
}

.btn_with_sidetext_text
{
    flex:none;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 0.2rem;
    
    height: 1.5rem;
    width:1rem;
}

/*============================main chatting============================*/
.main_chatting
{
    display: flex;
    flex-direction: column-reverse;
    margin-top : auto;
    align-items: right;

}

.chatting_input_area
{
    width: 98%;
    margin : 1.5rem;
    height : auto;
    background-color: #FFFFFF;
    border : 1px solid #E6E6E8;
    display: flex;
    flex-direction : row;
    align-items: center;
    
}
.comment_editor
{
    display: flex;
    flex-direction: row;
}
.comment_input_area
{
    
    width: 95%;
    margin : 1.5rem;
    margin-left:auto;
    height : auto;
    background-color: #FFFFFF;
    border : 1px solid #E6E6E8;
    display: flex;
    flex-direction : row;
    align-items: center;
    
}

.file-upload-label {
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 50px;
    line-height: 30px;
}

.file-uploaded-div
{
    margin : 0.5rem;
}

.file-uploaded-delete
{
    background-color: blue;
}

.file-uploaded-name {
    width: 600px;
    line-height: 50px;
    padding: 0 0 0 15px;
}


.content_add_btn_area
{
    display:flex;
    align-items: center;
    justify-content: center;
    width : 2rem;
    height : 2rem;
    margin : 0.5rem;
    color : #E6E6E8;
}

.content_add_btn_area:hover{
    cursor: pointer;
    color :#B9BABE;
}


.chat_text_input input{
    height: 2.5rem;
    min-width: 80rem;
    margin-left : 0.5rem;
    border : none;
    background-color:white;
    color :black
}
.chat_text_input input::placeholder
{
    color:#CED9EB;
}
.chat_text_input input:focus
{
    outline:none;
}
.chat_buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
}

.chat_button{
    display:flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:2rem;
    color : #E6E6E8;
}

.chat_button:hover
{
    color : #B9BABE;
    cursor: pointer;
}

.append_chat
{
    border : none;
    background-color: white;
    color : #E6E6E8;
    height:2.5rem;
    width:2.5rem;
    margin-right:0.5rem;
}

.append_chat:hover{
    color : #B9BABE;
    cursor: pointer;
}


.date_line_area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height :3rem;
}

.d_line{
    background-color: #E6E6E8;
    min-width : 45%;
    height:1px;

}

.date{
    color: black;
    text-align: center;
    min-width : 10%;

}

.invite_area{
    width:100%;
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
}

.chatting_room_member
{
    background-color: #DBE8FE;
    color: #62666D;
    margin-right:5px;
}

.invite_text
{
    margin-left:5px;
    margin-right:5px;
}
.delete_chat:hover
{
    cursor: pointer;
}

.chatting_room_name
{
    margin-left:5px;
    font-weight: bold;
}
.chatbox
{
    display: flex;
    flex-direction: row;
    margin-right:auto;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top:1rem;
    align-items: center;

}

.profile_circle
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: blue;
    margin-right :1rem;
    align-items: flex-start;
}

.chat_area
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chatter_info_area
{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.chat_files_area
{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.chat_file
{
    margin-top: 0.5rem;
    margin-left : 1rem;
    display: flex;
    flex-direction: row;
    width : 8rem;
    height: 2rem;
    color : #8B8E95;
    border : 1px solid #8B8E95;
    border-radius: 2px;
    background-color: white;
    align-items: center;
    justify-content:space-around;
}
.chat_file:hover{
    cursor: pointer;
}
.chatter_name
{
    font-weight: bold;
}

.wrote_time
{
    margin-left: 0.5rem;
    color: #8B8E95;
    font-size: small;
}

.chat_content
{
    margin-top:0.5rem;
}

.add_comment:hover{
    cursor: pointer;
}


.chat_text
{

}

.chat_text_editmode
{
}


.chat_editor
{
    width : 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:#B9BABE;
    margin-left:auto;
    margin-right : 1rem;
    
}

.comment_btn
{
    color: #8B8E95;
    width : 6rem;
    height: 1.25rem;
    background-color:white;
    border-radius: 1px;
    border : 1px solid #8B8E95;
    text-align: center;
    margin-left : 5rem;
}
.comment_btn_opened
{
    color: white;
    width : 6rem;
    height: 1.25rem;
    background-color:#8B8E95;
    border-radius: 1px;
    border : 1px solid #8B8E95;
    border-bottom: none;
    text-align: center;
    margin-left : 5rem;
}

.comment_btn:hover
{
    cursor: pointer;
    background-color: #8B8E95;
    color: white;
}
.comment_btn_opened:hover
{
    cursor: pointer;
    background-color: #8B8E95;
    color: white;
}


.comment_area
{
    width : 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    border: 1px solid #8B8E95;
}

.comment_things
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_info
{
    margin-top : 0.5rem;
    margin-left: 1rem;
    width : 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.comment_user
{
    font-weight: bold;
}

.comment_time
{
    font-size: small;
    color : #8B8E95;
}

.comment_content
{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.comment_text
{
    margin-top: 0.5rem;
    margin-left:1rem;
    margin-bottom: 0.5rem;
}
.comment_editing_btns
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
}
.comment_delete
{
    color:#B9BABE;
}
.comment_delete:hover
{
    cursor: pointer;
}

.comment_files_area
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_files_area:hover
{
    cursor: pointer;
}

.comment_file{
    margin-bottom: 1rem;
    margin-left: 2rem;
    background-color: white;
    color : #8B8E95;
    border: 1px solid #8B8E95;
    align-items: center;
    justify-content: space-around;
    min-width : 5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    
}

.comment_fileName
{
    
}
    /*====================right_panel========================*/

.right_panel
{
    flex-shrink: 0;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.right_panel_btn_div
{
    display: flex;
    align-items: center;
    width:2.5rem;
    height:7.4%;
    border-bottom: 1px solid #E6E6E8;
}

.right_panel_else_div{
    display: flex;
    align-items: center;
    width:2.5rem;
    height:100%;
    background-color: #f8f8f8; 
}

.right_panel_btn_area{
    
    margin-top: 0.5rem;
    flex:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border : solid 1px #D8D8DB;
    height: 2.5rem;
    width: 2.5rem;
}
.right_panel_btn
{
    display: flex;
    color:#393939;
}
.right_panel_btn_area:hover{
    cursor:pointer;

}

.right_panel_hide
{
    display:none;
}   