.idea-post {
    width: 680px;
    height: auto;
    background-color: white;
    margin: 10px auto 10px;
    border: 1px solid;
    border-color: #D8D8DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.idea-content-div {
    width: 630px;
    min-height: 145px;    
}

.idea-content-upper-div {
    width: 630px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.idea-content-profile-photo {
    width: 35px;
    height: 35px;
    background-color: #8147FB;
    border-radius: 50%;
}

.idea-content-writing-div {
    width: 500px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.idea-content-writing-name {
    font-size: 15px;
    font-weight: bold;

}

.idea-content-writing-time {
    font-size: 12.5px;
    color: gray;
}

.idea-content-icon-div {

}

.idea-content-icons {
    margin: 0 5px 0 5px;
    color: #D8D8D8;
}

.idea-content-contents {
    width: 500px;
    margin: 12px 0 0 48px;
    font-size: 15px;
}

.idea-content-emoji {
    padding: 2px 2px 2px 2px;
    border: solid 1px;
    border-color: #D8D8D8;
    color: #D8D8D8;
}

.idea-content-hr {  
    width: 100%;
    border: solid 1px #D8D8D8;
}

.idea-comment-div {
    display: table;
    width: 630px;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}


.idea-comment-count {
    color: #D8D8D8;
    font-size: 12.5px;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.idea-comment-writing-div {
    width: 100%;
    min-height: 45px;
    margin: 20px 0 20px 0;
    border: solid 1px #D8D8D8;
}


.idea-comment-writing-div:focus-within {
    min-height: 88px;
    border: solid 1px gray;
}

.idea-comment-input {
    width: 95%;
    min-height: 45px;
    border: white;
}

.idea-comment-input::placeholder {
    color: #D8D8D8;
    font-size: 15px;
}

.idea-comment-input:focus {
    outline: none;
}

.comment-confirm-icon-div {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    background-color: #488AFC;

}

.comment-confirm-icon-div:hover {
    background-color: #1E68F6;
    cursor: pointer;
}

.comment-confirm-icon-div:disabled {
    background-color: #D8D8D8;

}
.comment-confirm-icon {
    color: white;
}
